main#administrateur, main#utilisateur {

    border-radius: 0;
    font-size: 1.3rem;
    //height: 98vv;
    min-height: calc(100vh - (7rem + 6rem));
    
    display: grid;

    dl {

	@include bordureDefaut;
	@include bordureArrondi;
	border-color: $noir4; //$blanc16;
	border-radius: .7rem;
	border-width: .4rem;
	background: $gris5;

	padding: .5rem;
	margin: .5rem;

	dt {
	    font-size: 1.35rem;
	    color: $blanc16; //$noir5; //$blanc16;
	    font-weight: 700;
	    text-align: center;
	    margin-top: .5rem;
	    transition: color .9s ease;
	    &:hover {
		transform: scale(0.9);
		transition: transform .5s ease-in;
	    }

	}

	dd {
	    font-family: "Fira", serif;
	    color: $blanc16; //$couleurTexte; //$blanc16;
	    margin: .3rem;
	    user-select: none;

	    span {
		display: inline-block;
		color: $berdea;
		background-color: $blanc16;
		padding: .2rem;

		@include bordureDefaut;
		@include bordureArrondi;
		border-radius: .4rem;
		border-width: .25rem;
		border-color: $berdea;

		/*
		&::before {
		   content: attr(data-long);
		   font-size: 2rem;
		   color: red;
		}
		*/
	    }
	}

	dd::before {
	    //content: url('/images/star-solid.svg');
	    color: $berdea; //$blanc16;
	    font-size: 2rem;
	    content: '¤ '; //'&oplus;';
	    //text-shadow: 1px 1px 1px $berdea, 2px 2px 1px $gorria;
	    
	    font-family: "Oleo";
	    font-size: 1.5rem;
	    width: .4rem;
	    

	}

	
    }

    article {
	@include bordureDefaut;
	@include bordureArrondi;
	border-radius: .7rem;
	border-width: .4rem;
	border-color: $blanc16;
	background: $gris5;//$primary-color-dark;
	padding: .5rem;
	margin: .5rem;


	
	h2{
	    color: $blanc16;
	    text-align: center;
	    transition: color .9s ease;

	    &:hover {
		transform: scale(0.9);
		transition: transform .5s ease-in;
	    }
	}

	


	p {
	    font-family: "Fira", serif;
	    color: $blanc16;
	    line-height: 1.2;
	    margin: .4rem 0;
	}


    }
    

    &#utilisateur {
	background-color: $primary-color-inverted;
	dl {
	    border-color: $blanc16;
	}
    }

    &#administrateur {
	background-color: $primary-color-dark;
	dl {
	    border-color: $rouge11;
	    dd::before {
		color: $rouge11;
	    }
	}

    }
}


@media screen and (max-width: 500px){

    .secondaire {
	display: none;
    }

    .tertiaire {
	display: none;
    }
}

@media screen and (min-width: 501px){
    //display: grid;
    //grid-template-columns: repeat(3, 1fr);
    /*    
       grid-template-columns: repeat(2, 1fr);
       grid-template-rows: repeat(6, 1fr);
       gap: 1rem;

       article:nth-child(even) {
       grid-column-start: 1;
       }

       article:nth-child(odd) {
       grid-column-start: 2;
       } 
     */
    main {
	//grid-template-columns: repeat(2, auto);
	//grid-auto-flow: dense;
	//grid-template-columns: repeat(2, 1fr);
	//grid-template-rows: repeat(6, 1fr);
	grid-template-columns: minmax(200px, 1fr);
	gap: 1rem;

    }
}
