main#gregorien {
    form {
	display: flex;
	align-items: center;
	justify-content: flex-start; //space-between;

	div.itemFormulaire {
	    display: flex;
	    align-items: center;
	    justify-content: space-between;

	    @include bordureDefaut;
	    @include bordureArrondi;
	    transition: background-color .5s ease .25s;

	    &:hover {
		background-color: #F1F1F1;
		border-color: $gris4; //#FFFFFF;
		transition: background-color 250ms;
	    }
	    
	    label {
		color: $blanc16;
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;

		background: $primary-color;
		border-color: $blanc16;
		white-space: normal;
		overflow: hidden;
	    }

	    select {
		flex: 2;
	    }
	}
    }

    article#liste {
	min-height: calc(85vh - (4rem + 3rem)) ;
	@include bordureArrondi;
	@include bordureDefaut;
	//width: 100%;
    }
}

