$violet1: #9F2B68;
$violet2: #BF40BF;
$violet3: #800020;
$violet4: #702963;
$violet5: #AA336A;
$violet6: #301934;
$violet7: #483248;
$violet8: #5D3FD3;
$violet9: #E6E6FA;
$violet10: #CBC3E3;
$violet11: #CF9FFF;
$violet12: #AA98A9;
$violet13: #E0B0FF;
$violet14: #915F6D;
$violet15: #770737;
$violet16: #DA70D6;
$violet17: #C3B1E1;
$violet18: #CCCCFF;
$violet19: #673147;
$violet20: #A95C68;
$violet21: #800080;
$violet22: #51414F;
$violet23: #953553;
$violet24: #D8BFD8;
$violet25: #630330;
$violet26: #7F00FF;
$violet27: #722F37;
$violet28: #BDB5D5;

$bleu1: #00FFFF;
$bleu2: #F0FFFF;
$bleu3: #89CFF0;
$bleu4: #0000FF;
$bleu5: #7393B3;
$bleu6: #088F8F;
$bleu7: #0096FF;
$bleu8: #5F9EA0;
$bleu9: #0047AB;
$bleu10: #6495ED;
$bleu11: #00FFFF;
$bleu12: #00008B;
$bleu13: #6F8FAF;
$bleu14: #1434A4;
$bleu15: #7DF9FF;
$bleu16: #6082B6;
$bleu17: #00A36C;
$bleu18: #3F00FF;
$bleu19: #5D3FD3;
$bleu20: #ADD8E6;
$bleu21: #191970;
$bleu22: #000080;
$bleu23: #1F51FF;
$bleu24: #A7C7E7;
$bleu25: #CCCCFF;
$bleu26: #B6D0E2;
$bleu27: #96DED1;
$bleu28: #4169E1;
$bleu29: #0F52BA;
$bleu30: #9FE2BF;
$bleu31: #87CEEB;
$bleu32: #4682B4;
$bleu33: #008080;
$bleu34: #40E0D0;
$bleu35: #0437F2;
$bleu36: #40B5AD;
$bleu37: #0818A8;

$vert1: #00FFFF;
$vert2: #7FFFD4;
$vert3: #454B1B;
$vert4: #088F8F;
$vert5: #AAFF00;
$vert6: #5F9EA0;
$vert7: #097969;
$vert8: #AFE1AF;
$vert9: #DFFF00;
$vert10: #E4D00A;
$vert11: #00FFFF;
$vert12: #023020;
$vert13: #7DF9FF;
$vert14: #50C878;
$vert15: #5F8575;
$vert16: #4F7942;
$vert17: #228B22;
$vert18: #7CFC00;
$vert19: #008000;
$vert20: #355E3B;
$vert21: #00A36C;
$vert22: #2AAA8A;
$vert23: #4CBB17;
$vert24: #90EE90;
$vert25: #32CD32;
$vert26: #478778;
$vert27: #0BDA51;
$vert28: #98FB98;
$vert29: #8A9A5B;
$vert30: #0FFF50;
$vert31: #ECFFDC;
$vert32: #808000;
$vert33: #C1E1C1;
$vert34: #C9CC3F;
$vert35: #B4C424;
$vert36: #93C572;
$vert37: #96DED1;
$vert38: #8A9A5B;
$vert39: #2E8B57;
$vert40: #9FE2BF;
$vert41: #009E60;
$vert42: #00FF7F;
$vert43: #008080;
$vert44: #40E0D0;
$vert45: #C4B454;
$vert46: #40B5AD;
$vert47: #40826D;

$jaune1: #EADDCA;
$jaune2: #FFBF00;
$jaune3: #FBCEB1;
$jaune4: #F5F5DC;
$jaune5: #E1C16E;
$jaune6: #FFEA00;
$jaune7: #FDDA0D;
$jaune8: #FFFF8F;
$jaune9: #DFFF00;
$jaune10: #E4D00A;
$jaune11: #FFF8DC;
$jaune12: #FFFDD0;
$jaune13: #8B8000;
$jaune14: #FAD5A5;
$jaune15: #C2B280;
$jaune16: #EEDC82;
$jaune17: #E49B0F;
$jaune18: #FFD700;
$jaune19: #FFC000;
$jaune20: #DAA520;
$jaune21: #FCF55F;
$jaune22: #FFFFF0;
$jaune23: #F8DE7E;
$jaune24: #F0E68C;
$jaune25: #FAFA33;
$jaune26: #FBEC5D;
$jaune27: #F4BB44;
$jaune28: #FFDB58;
$jaune29: #FADA5E;
$jaune30: #FFDEAD;
$jaune31: #ECFFDC;
$jaune32: #FFFAA0;
$jaune33: #FFE5B4;
$jaune34: #C9CC3F;
$jaune35: #B4C424;
$jaune36: #93C572;
$jaune37: #F4C430;
$jaune38: #F3E5AB;
$jaune39: #C4B454;
$jaune40: #F5DEB3;
$jaune41: #FFFF00;
$jaune42: #FFAA33;

$orange1: #FFBF00;
$orange2: #FBCEB1;
$orange3: #F2D2BD;
$orange4: #FFAC1C;
$orange5: #CD7F32;
$orange6: #DAA06D;
$orange7: #CC5500;
$orange8: #E97451;
$orange9: #E3963E;
$orange10: #F28C28;
$orange11: #D27D2D;
$orange12: #B87333;
$orange13: #FF7F50;
$orange14: #F88379;
$orange15: #8B4000;
$orange16: #FAD5A5;
$orange17: #E49B0F;
$orange18: #FFC000;
$orange19: #DAA520;
$orange20: #FFD580;
$orange21: #C04000;
$orange22: #F4BB44;
$orange23: #FFDEAD;
$orange24: #FF5F1F;
$orange25: #CC7722;
$orange26: #FFA500;
$orange27: #FAC898;
$orange28: #FFE5B4;
$orange29: #EC5800;
$orange30: #F89880;
$orange31: #E35335;
$orange32: #FF7518;
$orange33: #FF4433;
$orange34: #FF5F15;
$orange35: #FA8072;
$orange36: #FFF5EE;
$orange37: #A0522D;
$orange38: #FA5F55;
$orange39: #F08000;
$orange40: #E3735E;
$orange41: #FFAA33;

$rose1: #9F2B68;
$rose2: #F2D2BD;
$rose3: #DE3163;
$rose4: #811331;
$rose5: #FF7F50;
$rose6: #F88379;
$rose7: #DC143C;
$rose8: #AA336A;
$rose9: #C9A9A6;
$rose10: #FF00FF;
$rose11: #FF69B4;
$rose12: #FFB6C1;
$rose13: #FF00FF;
$rose14: #F3CFC6;
$rose15: #770737;
$rose16: #FF10F0;
$rose17: #DA70D6;
$rose18: #F8C8DC;
$rose19: #FAA0A0;
$rose20: #FFC0CB;
$rose21: #F89880;
$rose22: #673147;
$rose23: #A95C68;
$rose24: #800080;
$rose25: #E30B5C;
$rose26: #953553;
$rose27: #F33A6A;
$rose28: #E0BFB8;
$rose29: #C21E56;
$rose30: #E0115F;
$rose31: #FA8072;
$rose32: #FFF5EE;
$rose33: #D8BFD8;
$rose34: #E37383;

$rouge1: #880808;
$rouge2: #AA4A44;
$rouge3: #EE4B2B;
$rouge4: #A52A2A;
$rouge5: #800020;
$rouge6: #6E260E;
$rouge7: #CC5500;
$rouge8: #E97451;
$rouge9: #702963;
$rouge10: #D22B2B;
$rouge11: #C41E3A;
$rouge12: #D70040;
$rouge13: #DE3163;
$rouge14: #D2042D;
$rouge15: #954535;
$rouge16: #811331;
$rouge17: #F88379;
$rouge18: #814141;
$rouge19: #DC143C;
$rouge20: #8B0000;
$rouge21: #7B1818;
$rouge22: #9A2A2A;
$rouge23: #C04000;
$rouge24: #800000;
$rouge25: #986868;
$rouge26: #770737;
$rouge27: #FF3131;
$rouge28: #4A0404;
$rouge29: #FAA0A0;
$rouge30: #EC5800;
$rouge31: #E35335;
$rouge32: #A95C68;
$rouge33: #E30B5C;
$rouge34: #FF0000;
$rouge35: #A52A2A;
$rouge36: #913831;
$rouge37: #FF4433;
$rouge38: #953553;
$rouge39: #C21E56;
$rouge40: #E0115F;
$rouge41: #80461B;
$rouge42: #FA8072;
$rouge43: #FF2400;
$rouge44: #FA5F55;
$rouge45: #E3735E;
$rouge46: #7C3030;
$rouge47: #630330;
$rouge48: #A42A04;
$rouge49: #E34234;
$rouge50: #722F37;

$marron1: #EADDCA;
$marron2: #E1C16E;
$marron3: #CD7F32;
$marron4: #A52A2A;
$marron5: #DAA06D;
$marron6: #800020;
$marron7: #E97451;
$marron8: #6E260E;
$marron9: #C19A6B;
$marron10: #954535;
$marron11: #7B3F00;
$marron12: #D27D2D;
$marron13: #6F4E37;
$marron14: #834333;
$marron15: #B87333;
$marron16: #814141;
$marron17: #5C4033;
$marron18: #8B0000;
$marron19: #988558;
$marron20: #C2B280;
$marron21: #C19A6B;
$marron22: #E5AA70;
$marron23: #9A2A2A;
$marron24: #966919;
$marron25: #F0E68C;
$marron26: #C4A484;
$marron27: #C04000;
$marron28: #800000;
$marron29: #967969;
$marron30: #F2D2BD;
$marron31: #CC7722;
$marron32: #808000;
$marron33: #4A0404;
$marron34: #A95C68;
$marron35: #A52A2A;
$marron36: #913831;
$marron37: #80461B;
$marron38: #8B4513;
$marron39: #C2B280;
$marron40: #A0522D;
$marron41: #D2B48C;
$marron42: #483C32;
$marron43: #7C3030;
$marron44: #F5DEB3;
$marron45: #722F37;

$noir1: #000000;
$noir2: #36454F;
$noir3: #023020;
$noir4: #301934;
$noir5: #343434;
$noir6: #1B1212;
$noir7: #28282B;
$noir8: #191970;
$noir9: #353935;

$gris1: #28333e;
$gris2: #36454F;
$gris3: #424d57;
$gris4: #5d6974;
$gris5: #6082B6;
$gris6: #708090;
$gris7: #71797E;
$gris8: #7393B3;
$gris9: #74808b;
$gris10: #808080;
$gris11: #818589;
$gris12: #848884;
$gris13: #899499;
$gris14: #8A9A5B;
$gris15: #8b96a2;
$gris16: #A9A9A9;
$gris17: #B2BEB5;
$gris18: #C0C0C0;
$gris19: #D3D3D3;
$gris20: #E5E4E2;
$gris21: #a2adb9;
$gris22: #b9c2ca;
$gris23: #cbd1d7;
$gris24: #e5e8eb;
$gris25: #f6f7f8;

$blanc1: #EDEADE;
$blanc2: #F5F5DC;
$blanc3: #F9F6EE;
$blanc4: #FFF8DC;
$blanc5: #FFFDD0;
$blanc6: #F0EAD6;
$blanc7: #FFFFF0;
$blanc8: #E9DCC9;
$blanc9: #FFDEAD;
$blanc10: #FAF9F6;
$blanc11: #FCF5E5;
$blanc12: #FFE5B4;
$blanc13: #E2DFD2;
$blanc14: #FFF5EE;
$blanc15: #F3E5AB;
$blanc16: #FFFFFF;

$gorria: #CC0000;
$berdea: #00CC00;
$urdina: #0022CC;
$horia: #ffcc00;
