main#plazaGizon {
    background-color: $gris8; 
    width: 98%;
    overflow-x: hidden;
    margin:1rem;
    padding: 1rem;

    form {
	@include selecteurItemFormulaire;
    }

    article#panneau {
	margin: .5rem;
	padding:.5rem;
	@include bordureArrondi;
	@inlcude bordureDefaut;

	background-color: $gris4;
    }
}
