main#login {
    display: grid;
    place-items: center;
    height: 90vh;
    padding: 1rem;

    //background: $inverted-primary-color-light;
    background: $orange10;

    //max-width: 1024px;

    form {
	border-radius: 6px;
	border-style: inset;
	border-color: $secondary-color-dark;
	display: grid;
	width: 90vw;
	min-height: 80%;
	padding: 10px;
	padding-top: 2rem;
	gap: 2rem;

	legend {
	    font-family: "Fira", sans-serif;
	    letter-spacing: -5px;
            font-size: clamp(4rem, 4vw, 8rem);
            text-align: center;
            color: $blanc16;
	    margin-bottom: .25rem;
	}

	fieldset {
            display: flex;
	    //gap: 1rem;
	    flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            border-color: transparent; //$blanc16;
	}


	//	https://www.w3.org/WAI/tutorials/forms/labels/#note-on-hiding-elements	

	label {
	    color: $blanc16;
	    //text-align: center;
	    background: $primary-color;
	    border-color: $blanc16;
	    flex: 1;
	    height: 100%;
	    font-size: clamp(0.8rem, 3vw, 2rem);
	    white-space: nowrap;
	    overflow: hidden;

	    display: flex;
	    align-items: center;
	    justify-content: center;
	    //display: inline-block;
	    //vertical-align: middle;
	    //text-overflow: ellipsis;
	}
	
	input {
	    flex: 4;// 2 0px;
	    height: 100%;
	    font-size: clamp(1.2rem, 3vw, 2rem);
	    color: $couleurTexte;
	    //background: $blanc16;
	    //width: 0;
	    //min-width: 0;
	    //width: 100%;

	    &::placeholder {
		color: transparent; //$blanc16;
	    }

	}

	button {
	    font-size: clamp(0.8rem, 4vw, 2rem);
	    //padding-inline: 1rem;
	    //padding-block: 0.5rem;
	    background: $primary-color;
	    border-color: $primary-color;
	    transition: all .25s ease-in-out;

	    &:hover {
		background: $berdea;
	    }
	}
    }
}

@media screen and (max-width: 800px){

    main#login {

	fieldset {
            justify-content: center;
	}
	

	label {
	    border: 0;
	    clip: rect(0 0 0 0);
	    height: 1px;
	    margin: -1px;
	    overflow: hidden;
	    padding: 0;
	    position: absolute;
	    width: 1px;
	}

	input[type="text"], input[type="password"] {
	    min-width: 100%;
	    margin: 0 auto;
	    &::placeholder {
		color: $blanc16;
		font-size: clamp(2rem, 3vw, 4rem);
	    }
	}

    }
}


