main#brassage {
    background-color: $alternative-color;
    .gorria { color: $gorria;}
    .berdea { color: $berdea;}
    .urdina { color: $urdina;}
    .horia { color: $horia;}

    .rouge { color: $gorria;}
    .vert { color: $berdea;}
    .bleu { color: $urdina;}
    .jaune { color: $horia;}

    .sauvegardePossible {
	color: $blanc16;
	background-color: $berdea;
	padding: .25rem;
	border-radius: 5px;
	border: 2px solid transparent;
    }
    
    margin: .5rem;
    padding: .5rem;

    #selecteurs {
	grid-area: selecteurs;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
    }

    #equipes {
	display: flex;
	flex-direction: column;
    }
    
    #poules {
	display: flex;
	flex-direction: column;
    }

}

article#selecteurs {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    border-radius: 5px;
    margin: 1rem 0;
    border-color: $blanc16;

    div#serie, div#genre {
	display: flex;
	align-items: center;
	justify-content:space-between;
	
	label {
	    color: $blanc13;
	    padding: .25rem;
	    font-size: 1.5rem;
	}

	select {
	    padding: .25rem;
	    option {
		font-size: 1.1rem;
	    }
	}
    }
    
    
    button#brassageEffectue {
	padding: .2rem;

	
    }
}

div.ligne {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    span.souhait {
	display: inline-block;
	font-size: 1.4rem;
	color: #000000;
	font-family: serif, sans-serif;
	width: 8rem;
	margin-right: 3rem;
	text-align: center;
	user-select: none;
    }

    div.liste {
	display: flex;
	margin: .25rem;
	padding: .15rem;
	align-items: center;
	justify-content: space-between;

	button {
	    width: 3rem;
	    height: 2rem;
	    margin: 0 .25rem 0;
	    border: 3px solid transparent;
	    border-radius: 4px;
	    cursor: pointer;

	    &.rouge {
		background-color: $gorria;
		border-color: $gorria;
		transition: all .125s ease-in;
		&:hover {
		    background-color: #ff3333;
		    border-color: maroon;
		}
	    }

	    &.vert {
		background-color: $berdea;
		border-color: $berdea;
		transition: all .125s ease-in;
		&:hover {
		    background-color: #33FF33;
		    border-color: green;
		}
	    }

	    &.bleu {
		background-color: $urdina;
		border-color: $urdina;
		transition: all .125s ease-in;
		&:hover {
		    background-color: #3355FF;
		    border-color: #1A40FF;
		}
	    }

	    &.jaune {
		background-color: $horia;
		border-color: $horia;
		transition: all .125s ease-in;
		&:hover {
		    background-color: #FFE066;
		    border-color: #B38F00;
		}
	    }

	    &.supprimer {
		vertical-align: middle;
		border: none;
		color: #000000;
		border-radius: .29rem;
		background: #FFFFFF;
		position: relative;
		width: 3rem;
		height: 3rem;
		&:hover {
		    background-color: #CC0000;
		}
		&:active {
		    background: #00CC00;
		}
		&::before, &::after {
		    content: " ";
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    height: 2rem;
		    width: .85rem;
		    color: #CC0000;
		    background-color: #FFFFFF;
		    border: 3px solid #000000;
		}
		&::before {
		    transform: translate(-50%, -50%) rotate(45deg); }
		&::after {
		    transform: translate(-50%, -50%) rotate(-45deg); }
	    }	    
	    
	}
    }
}

article.poule {
    display: flex;
    flex-direction: column;
}
article.poule h2.titre {
    font-family: serif;
    font-size: 1.5rem;
    text-align: left;
    user-select: none;
}
article.poule div.depot {
    display: flex;
    flex-direction: column;
    border: 3px solid transparent;
    /* border-color: transparent;
       border-width: .375rem; */
    margin: 1rem;
    padding: .5rem;
}
article.poule#d1 {
    border-color: #CC0000;
}
article.poule#d2 {
    border-color: #00CC00;
}
article.poule#d3 {
    border-color: #0022CC;
}
article.poule#d4 {
    border-color: #ffcc00;
}

#d1 h2 span {
  display: inline-block;
  color: #343434;
  background-color: #FFFFFF;
  padding: .25rem;
  border-radius: 4px;
    border: 2px solid #CC0000;
}

#p1 {
 // border-left: 1rem solid;
    border-left-color: #CC0000;
}

#p2 {
    border-left-color: #00CC00;
}

#p3 {
    border-left-color: #0022CC;
}

#p4 {
    border-left-color: #ffcc00;
}

#d2 h2 span {
  display: inline-block;
  color: #343434;
  background-color: #FFFFFF;
  padding: .25rem;
  border-radius: 4px;
    border: 2px solid #00CC00;
}

#d3 h2 span {
  display: inline-block;
  color: #343434;
  background-color: #FFFFFF;
  padding: .25rem;
  border-radius: 4px;
    border: 2px solid #0022CC;
}

#d4 h2 span {
    display: inline-block;
    color: #343434;
    background-color: #FFFFFF;
    padding: .25rem;
    border-radius: 4px;
    border: 2px solid #ffcc00;
}

section.poules {
    display: grid;
    gap: 1rem;
    grid-template-colummns: repeat(auto-fit, min-max(6rem, 1fr)); }
