*, *::after, *::before {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Fira", sans-serif;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

@mixin bordureArrondi {
    border-radius: 5px;
}

@mixin bordureDefaut {
    border:2px solid transparent;
}

html,
body,
header,
footer,
main,
nav,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
fieldset,
legend,
button,
input,
textarea,
label,
select {
  margin: 0;
  padding: 0;
  border: 0;
}

header,
footer,
main,
article,
label,
legend,
select,
option,
button,
form,
fieldset,
ul,
dl,
input {
    @include bordureDefaut;
    @include bordureArrondi;
}

@mixin labelSelectInput {
    font-size: 1.2rem;
    height: 3.8rem;
    padding: 0.4rem 0.6rem;
    margin: 0.6rem;
    border: 0.2rem solid transparent;
    border-radius: 0.4rem;
}

label {
    //padding: 5px 10px 5px 10px;
    //margin: 10px 10px 5px 10px;
    @include labelSelectInput;
    user-select: none;
    line-height: 1em;
}

div.rencontre {
    @include labelSelectInput;
    user-select: none;
    line-height: 1em;
    margin: 1rem;
    padding: 2rem;
}

select {
    @include labelSelectInput;
    //padding: .25rem .4rem;
    //padding: 5px 10px 5px 10px;
    //margin: 10px 10px 5px 10px;
    cursor: pointer;
    transition: 0.75s;

    &:hover {
	transform: scale(0.9);
	transition: transform 250ms;
    }
}

input[type="text"], input[type="password"] {
    //font-size: 1.2rem;
    //margin: 10px 10px 0 10px;
    //padding: 5px 10px 5px 10px;
    @include labelSelectInput;
    line-height: 1em;
}

button {
    @include labelSelectInput;
    transition: transform .5s;

    &:hover {
	transform: translateY(5px);
	transition: transform 250ms;
    }
    
}


dl {
    padding: .5rem;
    margin: .5rem;
    @include bordureDefaut;
    border-radius: 8px;

    dt {
	white-space: normal;
    }

    dd {
    }
}

fieldset {
    border-style: solid;
}



@mixin selecteurItemFormulaire {
        form {
	display: flex;
	align-items: center;
	justify-content: flex-start;

	div.itemFormulaire {
	    display: flex;
	    align-items: center;
	    justify-content: space-between;

	    @include bordureDefaut;
	    @include bordureArrondi;
	    transition: background-color .5s ease .25s;

	    &:hover {
		background-color: #F1F1F1;
		border-color: $gris4; //#FFFFFF;
		transition: background-color 250ms;
	    }
	    
	    label {
		color: $blanc16;
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;

		background: $primary-color;
		border-color: $blanc16;
		white-space: normal;
		overflow: hidden;
	    }

	    select {
		flex: 2;
	    }
	}
    }

}
