input, select {
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: $blanc16;//transparent;//$blanc16;
}

input[type="text"]:enabled {
    background: $blanc16;
    &::placeholder {
	color: $couleurTexte;
    }
}

input::placeholder {
    color: $blanc16;
}

input:invalid {
    color: $blanc16;
    //border: 2px solid  $gorria;
    //border-color: $gorria;
}

input:invalid:required  {
    //background-image: linear-gradient(to right, #d4d4d4, #d8d8d8);
    color: $blanc16;
    background-color: $gorria;
}

input:valid {
    color: $blanc16;
    background-color: $berdea;
    //border: 2px solid $berdea;
}

input:optional {
    color: $blanc16;
    background-color: $berdea;
    //border: 2px solid $berdea;
}

input:invalid:optional {
    color: $blanc16;
    background-color: $gorria;
}

input:disabled {
    text-align:center;
    color: $gorria;
    background-color: $blanc16;//$gris5;
    border-color: $berdea;
}

.succes {
    color: #212121;
    background-color: $blanc16;//#d8d8d8;
}

.erreur {
    color: $blanc16;
    background-color: $gorria;
    border-radius: 0 0 5px 5px;
}

.erreur.active {
    padding: .3em;
}
