*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem; }

html,
body,
header,
footer,
main,
nav,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
fieldset,
legend,
button,
input,
textarea,
select {
  margin: 0;
  padding: 0;
  border: 0; }

header,
footer,
main,
article,
label,
legend,
select,
option,
button,
form,
fieldset,
ul,
dl,
input {
  border: 2px solid transparent;
  border-radius: 5px; }

label {
  user-select: none; }

fieldset {
  border-style: groove; }

select {
  padding: .25rem .4rem;
  cursor: pointer; }

/* @import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap'); */
@font-face {
  font-family: "Oleo";
  src: url("../fontes/OleoScript-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Oleo";
  src: url("../fontes/OleoScript-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Fira";
  src: url("../fontes/FiraMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Fira";
  src: url("../fontes/FiraMono-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Fira";
  src: url("../fontes/FiraMono-Bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@keyframes secousses {
  10%, 90% {
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    transform: translate3d(4px, 0, 0); } }

@keyframes tremor {
  0%, 7% {
    transform: rotateZ(0); }
  15% {
    transform: rotateZ(-15deg); }
  20% {
    transform: rotateZ(10deg); }
  25% {
    transform: rotateZ(-10deg); }
  30% {
    transform: rotateZ(6deg); }
  35% {
    transform: rotateZ(-4deg); }
  40%, 100% {
    transform: rotateZ(0); } }

main#inscription {
  /*
    form {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	//background-color: #70a0c7;
	//background-color: $secondary-color-dark;
	padding: 1rem;
	margin: 1rem;
	border: 2px solid $blanc16;
	border-radius: 5px;
    }

    fieldset {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: .25rem 0;
	padding: .25rem;
	border: 2px groove;
	border-radius: 6px;
    }

    legend {
	font-size: 1.2rem;
	padding: .15rem;
	color: $gorria;
    }
    
    label {
	font-family: sans-serif;
	font-size: 1.2rem;
	color: $blanc16;
	margin-left: .25rem;
	user-select: none;
    }

    button {
	padding: .5rem;
	margin: .25rem;
	transition: all .25s ease-in-out;

	&:hover {
	    color: $blanc16;
	    background-color: #0047AB;
	}

    }


    input, select {
	font-family: monospace;
	font-size: 1.2rem;
	padding: .25rem;
	margin-right: .25rem;
	border-radius: 4px;

    }

    input[type=text]::placeholder, input[type=email]::placeholder {
	color: $blanc16;
	text-align: center;
    }
}

*/ }
  main#inscription form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    border: 2px solid #FFFFFF;
    border-radius: 5px; }
    main#inscription form fieldset {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: .25rem 0;
      padding: .25rem;
      border: 2px groove;
      border-radius: 6px; }
    main#inscription form legend {
      font-size: 1.2rem;
      padding: .15rem;
      color: #CC0000; }
    main#inscription form label {
      font-family: sans-serif;
      font-size: 1.2rem;
      color: #ffffff;
      margin-left: .25rem;
      user-select: none; }
    main#inscription form input[type=text], main#inscription form input[type=email], main#inscription form input[type=phone] {
      font-family: monospace;
      font-size: 1.2rem;
      padding: .25rem;
      margin-right: .25rem;
      border-radius: 4px; }
    main#inscription form input[type=text]::placeholder, main#inscription form input[type=email]::placeholder, main#inscription form input[type=phone]::placeholder {
      color: #FFFFFF;
      text-align: center; }
    main#inscription form input[type=text]#nombreEquipes, main#inscription form input[type=email]#nombreEquipes, main#inscription form input[type=phone]#nombreEquipes {
      text-align: center;
      color: #CC0000; }
    main#inscription form button {
      padding: .5rem;
      margin: .25rem;
      transition: all .25s ease-in-out; }
      main#inscription form button:hover {
        color: #FFFFFF;
        background-color: #0047AB; }
  main#inscription select#serie, main#inscription select#genre {
    padding: .25rem .4rem;
    color: #FFFFFF;
    background-color: #CC0000;
    border: 2px solid #dddddd;
    cursor: pointer;
    border-radius: 5px; }
    main#inscription select#serie:focus, main#inscription select#serie:hover, main#inscription select#genre:focus, main#inscription select#genre:hover {
      outline: none;
      border: 1px solid #bbbbbb; }
    main#inscription select#serie.vert, main#inscription select#genre.vert {
      color: #FFFFFF;
      background-color: #00CC00; }
    main#inscription select#serie.rouge, main#inscription select#genre.rouge {
      color: #FFFFFF;
      background-color: #CC0000; }
    main#inscription select#serie option, main#inscription select#genre option {
      color: #FFFFFF;
      background-color: #CC0000; }
      main#inscription select#serie option:checked, main#inscription select#genre option:checked {
        background-color: #00CC00; }

main#brassage {
  background-color: #0096FF;
  margin: .5rem;
  padding: .5rem; }
  main#brassage .gorria {
    color: #CC0000; }
  main#brassage .berdea {
    color: #00CC00; }
  main#brassage .urdina {
    color: #0022CC; }
  main#brassage .horia {
    color: #ffcc00; }
  main#brassage .rouge {
    color: #CC0000; }
  main#brassage .vert {
    color: #00CC00; }
  main#brassage .bleu {
    color: #0022CC; }
  main#brassage .jaune {
    color: #ffcc00; }
  main#brassage .sauvegardePossible {
    color: #FFFFFF;
    background-color: #00CC00;
    padding: .25rem;
    border-radius: 5px;
    border: 2px solid transparent; }
  main#brassage #selecteurs {
    grid-area: selecteurs;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
  main#brassage #equipes {
    display: flex;
    flex-direction: column; }
  main#brassage #poules {
    display: flex;
    flex-direction: column; }

article#selecteurs {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  border-radius: 5px;
  margin: 1rem 0;
  border-color: #FFFFFF; }
  article#selecteurs div#serie, article#selecteurs div#genre {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    article#selecteurs div#serie label, article#selecteurs div#genre label {
      color: #E2DFD2;
      padding: .25rem;
      font-size: 1.5rem; }
    article#selecteurs div#serie select, article#selecteurs div#genre select {
      padding: .25rem; }
      article#selecteurs div#serie select option, article#selecteurs div#genre select option {
        font-size: 1.1rem; }
  article#selecteurs button#brassageEffectue {
    padding: .2rem; }

div.ligne {
  display: flex;
  align-items: center;
  justify-content: flex-start; }
  div.ligne span.souhait {
    display: inline-block;
    font-size: 1.4rem;
    color: #000000;
    font-family: serif, sans-serif;
    width: 8rem;
    margin-right: 3rem;
    text-align: center;
    user-select: none; }
  div.ligne div.liste {
    display: flex;
    margin: .25rem;
    padding: .15rem;
    align-items: center;
    justify-content: space-between; }
    div.ligne div.liste button {
      width: 3rem;
      height: 2rem;
      margin: 0 .25rem 0;
      border: 3px solid transparent;
      border-radius: 4px;
      cursor: pointer; }
      div.ligne div.liste button.rouge {
        background-color: #CC0000;
        border-color: #CC0000;
        transition: all .125s ease-in; }
        div.ligne div.liste button.rouge:hover {
          background-color: #ff3333;
          border-color: maroon; }
      div.ligne div.liste button.vert {
        background-color: #00CC00;
        border-color: #00CC00;
        transition: all .125s ease-in; }
        div.ligne div.liste button.vert:hover {
          background-color: #33FF33;
          border-color: green; }
      div.ligne div.liste button.bleu {
        background-color: #0022CC;
        border-color: #0022CC;
        transition: all .125s ease-in; }
        div.ligne div.liste button.bleu:hover {
          background-color: #3355FF;
          border-color: #1A40FF; }
      div.ligne div.liste button.jaune {
        background-color: #ffcc00;
        border-color: #ffcc00;
        transition: all .125s ease-in; }
        div.ligne div.liste button.jaune:hover {
          background-color: #FFE066;
          border-color: #B38F00; }
      div.ligne div.liste button.supprimer {
        vertical-align: middle;
        border: none;
        color: #000000;
        border-radius: .29rem;
        background: #FFFFFF;
        position: relative;
        width: 3rem;
        height: 3rem; }
        div.ligne div.liste button.supprimer:hover {
          background-color: #CC0000; }
        div.ligne div.liste button.supprimer:active {
          background: #00CC00; }
        div.ligne div.liste button.supprimer::before, div.ligne div.liste button.supprimer::after {
          content: " ";
          position: absolute;
          top: 50%;
          left: 50%;
          height: 2rem;
          width: .85rem;
          color: #CC0000;
          background-color: #FFFFFF;
          border: 3px solid #000000; }
        div.ligne div.liste button.supprimer::before {
          transform: translate(-50%, -50%) rotate(45deg); }
        div.ligne div.liste button.supprimer::after {
          transform: translate(-50%, -50%) rotate(-45deg); }

article.poule {
  display: flex;
  flex-direction: column; }

article.poule h2.titre {
  font-family: serif;
  font-size: 1.5rem;
  text-align: left;
  user-select: none; }

article.poule div.depot {
  display: flex;
  flex-direction: column;
  border: 3px solid transparent;
  /* border-color: transparent;
       border-width: .375rem; */
  margin: 1rem;
  padding: .5rem; }

article.poule#d1 {
  border-color: #CC0000; }

article.poule#d2 {
  border-color: #00CC00; }

article.poule#d3 {
  border-color: #0022CC; }

article.poule#d4 {
  border-color: #ffcc00; }

#d1 h2 span {
  display: inline-block;
  color: #343434;
  background-color: #FFFFFF;
  padding: .25rem;
  border-radius: 4px;
  border: 2px solid #CC0000; }

#p1 {
  border-left-color: #CC0000; }

#p2 {
  border-left-color: #00CC00; }

#p3 {
  border-left-color: #0022CC; }

#p4 {
  border-left-color: #ffcc00; }

#d2 h2 span {
  display: inline-block;
  color: #343434;
  background-color: #FFFFFF;
  padding: .25rem;
  border-radius: 4px;
  border: 2px solid #00CC00; }

#d3 h2 span {
  display: inline-block;
  color: #343434;
  background-color: #FFFFFF;
  padding: .25rem;
  border-radius: 4px;
  border: 2px solid #0022CC; }

#d4 h2 span {
  display: inline-block;
  color: #343434;
  background-color: #FFFFFF;
  padding: .25rem;
  border-radius: 4px;
  border: 2px solid #ffcc00; }

section.poules {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr)); }

input, select {
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: #FFFFFF; }

intput::placeholder {
  color: #FFFFFF; }

input:invalid {
  color: #FFFFFF; }

input:invalid:required {
  color: #FFFFFF;
  background-color: #CC0000; }

input:valid {
  color: #FFFFFF;
  background-color: #00CC00; }

input:optional {
  color: #FFFFFF;
  background-color: #00CC00; }

input:invalid:optional {
  color: #FFFFFF;
  background-color: #CC0000; }

input:disabled {
  text-align: center;
  color: #CC0000;
  background-color: #FFFFFF;
  border-color: #00CC00; }

.succes {
  color: #212121;
  background-color: #FFFFFF; }

.erreur {
  color: #FFFFFF;
  background-color: #CC0000;
  border-radius: 0 0 5px 5px; }

.erreur.active {
  padding: .3em; }

html {
  font-family: "Fira", sans-serif;
  background-color: #0096FF; }

body {
  font-size: 1.6rem;
  background-color: #0096FF;
  display: flex;
  flex-direction: column;
  overflow-x: hidden; }

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 7rem;
  border-bottom-color: #28282B; }
  header nav {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  header #vegan {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border: 2px solid transparent;
    border-radius: 5px;
    border-color: #FFFFFF;
    padding: .25rem;
    cursor: pointer;
    box-shadow: 3px 2px 1px 1px #000013, 2px 1px 3px 2px rgba(0, 0, 0, 0.6);
    transition: all .250s ease-in-out; }
    header #vegan:hover {
      border-color: #E97451;
      background: #E1C16E; }
    header #vegan .lignes {
      width: 85%;
      height: .6rem;
      background-color: #FFFFFF;
      padding: .2rem;
      margin: .4rem;
      box-shadow: 1px 2px 1px 1px #000013, 2px 1px 3px -2px rgba(0, 0, 0, 0.6); }
  header h1.logo {
    color: #ff6900;
    font-family: "Oleo";
    font-size: 5rem;
    font-size: clamp(6rem, 4vw, 8rem);
    letter-spacing: -3px;
    user-select: none;
    margin: 0 1rem;
    transition: .8ms ease-out;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6); }
    header h1.logo:hover {
      color: #6900ff;
      animation: secousses 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
      transform: translate3d(0, 0, 0); }
    header h1.logo a {
      color: inherit;
      text-decoration: none; }
  header ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    transform: translateX(0);
    background: #9A9A9A;
    padding: 8px 10px;
    margin: 0 clamp(0.5rem, 5vw, 2.5rem);
    border: 2px solid transparent;
    border-radius: 5px;
    border-color: #301934;
    background-image: linear-gradient(45deg, #9e8a64 25%, transparent 25%, transparent 75%, #9e8a64 75%), linear-gradient(45deg, #9e8a64 25%, transparent 25%, transparent 75%, #9e8a64 75%);
    background-size: 6px 6px;
    background-color: #9e8a64; }
    header ul li {
      border: 2px solid transparent;
      border-radius: 5px;
      flex: 1; }
      header ul li a {
        display: block;
        padding: 0.75rem 0.5rem 0.75rem;
        font-family: monospace;
        font-size: clamp(0.8rem, 4vw, 1.4rem);
        text-decoration: none;
        letter-spacing: -2px;
        color: #F3E5AB;
        border: 2px solid transparent;
        border-radius: 5px;
        transition: all 0.3s ease-in-out; }
        header ul li a:hover {
          color: #FFFFFF;
          transform: scale(1.2); }
      header ul li:nth-last-child(1) {
        background: #282828; }
        header ul li:nth-last-child(1) a:hover {
          color: #282828;
          background: #FFFFFF;
          transform: scale(0.9); }

main {
  margin-top: .25rem; }

main#login {
  top: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0096FF; }
  main#login form {
    margin: .5rem 0;
    padding: 2rem;
    border-radius: 5px;
    border: 3px solid #FFFFFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
    main#login form legend {
      font-family: "Fira", "Oleo", serif, sans-serif;
      font-size: 2rem;
      text-align: center;
      color: #FFFFFF;
      border-color: #FFFFFF; }
    main#login form fieldset {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
      border-radius: 5px;
      margin: 1rem 0;
      border-color: #FFFFFF; }
      main#login form fieldset label {
        font-size: 2rem;
        text-align: left;
        color: #FFFFFF; }
      main#login form fieldset input[type=text] {
        margin-left: .5rem; }
      main#login form fieldset button {
        color: #301934;
        background-color: #F3E5AB;
        padding: .5rem;
        border-radius: 5px; }

main#generales {
  top: 0.25rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  background-color: #0096FF; }
  main#generales form {
    margin: .5rem 1.25rem;
    padding: 2rem;
    border-radius: 5px;
    border: 3px solid #FFFFFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
    main#generales form legend {
      font-family: "Fira", "Oleo", serif, sans-serif;
      font-size: 2rem;
      text-align: center;
      color: #FFFFFF;
      border-color: #FFFFFF; }
    main#generales form button {
      color: #301934;
      background-color: #F3E5AB;
      padding: .5rem;
      border-radius: 5px; }
    main#generales form fieldset {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
      border-radius: 5px;
      margin: 1rem 0;
      border-color: #FFFFFF; }
    main#generales form select {
      padding: .3rem;
      border-radius: 4px; }
      main#generales form select option {
        padding: .25rem; }

@media screen and (max-width: 420px) {
  h1.logo {
    display: none; } }

@media screen and (max-width: 768px) {
  nav {
    row-gap: clamp(1rem, 5vh, 3rem); }
  div#vegan {
    display: block;
    z-index: 9000;
    position: absolute;
    right: clamp(1rem, 5vw, 3rem);
    animation: tremor 2s linear infinite; }
  ul {
    z-index: 8000;
    position: fixed;
    inset: 0 0 0 25%;
    background: #545454;
    height: 100vh;
    top: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0;
    transform: translateX(100%);
    transition: transform .75s ease-in-out; }
    ul li {
      padding: .125rem 0;
      margin: 0;
      text-align: left;
      transition: all .5s ease-in-out; }
    ul[data-afficher="true"] {
      transform: translateX(0%); } }

@media screen and (min-width: 1280px) {
  ul {
    top: 60px; } }
