/* @import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap'); */
@font-face {
  font-family: "Oleo";
  src: url("../fontes/OleoScript-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Oleo";
  src: url("../fontes/OleoScript-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Fira";
  src: url("../fontes/FiraMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Fira";
  src: url("../fontes/FiraMono-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Fira";
  src: url("../fontes/FiraMono-Bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: "Fira", sans-serif;
  font-size: 62.5%;
  background-color: #0096FF; }

body {
  font-size: 1.6rem;
  background-color: #F28C28;
  margin: .5rem;
  padding-top: .5rem;
  display: flex;
  flex-direction: column; }

header {
  background-color: #F3E5AB;
  height: 8rem;
  width: 100%;
  /* position: fixed;
       top: 0;
       left: 0; */
  z-index: 1789;
  margin-top: 0.25rem;
  padding: 1rem;
  border-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #F28C28;
  transition: all .125ms ease-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  header h1 {
    font-family: "Oleo";
    font-size: 7rem;
    letter-spacing: -3px;
    user-select: none;
    color: #F28C28;
    margin: 0 1rem;
    transition: .25ms ease-out; }
    header h1:hover {
      color: #aa590a; }
    header h1 a {
      color: inherit;
      text-decoration: none; }
  header nav {
    display: flex;
    align-items: center;
    margin: 0 .6rem; }
    header nav #vegan {
      display: flex;
      width: 6rem;
      height: 4rem;
      margin: 0 1rem;
      flex-direction: column;
      justify-content: center;
      border: .3em solid transparent;
      border-radius: 5px;
      padding: .25rem;
      transition: all .125s ease-out; }
      header nav #vegan:hover {
        border-color: #aa590a; }
      header nav #vegan .lignes {
        width: 100%;
        height: 25%;
        background-color: #F28C28;
        margin: .2rem 0 .15rem 0;
        border-radius: 6px;
        transition: all .125s ease-in; }
        header nav #vegan .lignes:hover {
          background-color: #f8bf88; }
      @media screen and (min-width: 768px) {
        header nav #vegan {
          display: none; } }
    header nav ul#liens, header nav ul#administration {
      display: flex;
      flex-direction: row;
      list-style: none;
      padding: .3rem;
      margin-left: auto;
      color: #301934; }
      header nav ul#liens li, header nav ul#administration li {
        font-family: "Fira", sans-serif, monospace;
        font-size: 1.2em;
        letter-spacing: -2px;
        margin: .25rem;
        user-select: none;
        border: 4px solid transparent;
        transition: all .125s ease-out; }
        header nav ul#liens li:hover, header nav ul#administration li:hover {
          color: #FFFFF0;
          cursor: pointer; }
        header nav ul#liens li a, header nav ul#administration li a {
          color: inherit;
          text-decoration: none; }
      @media screen and (max-width: 768px) {
        header nav ul#liens, header nav ul#administration {
          display: none; } }
      @media screen and (max-width: 768px) {
        header nav ul#liens, header nav ul#administration {
          position: absolute;
          top: 15vh;
          left: 0;
          flex-direction: column;
          height: 90vh;
          width: 25vw;
          background-color: #66c0ff;
          font-size: 1.2rem; } }
main {
  /* position: absolute;
       top: 6.25rem;
       left: 0px; */
  margin-top: .25rem;
  border-radius: 5px;
  width: 100%; }

main#login {
  top: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F28C28; }
  main#login form {
    margin: .5rem 0;
    padding: 2rem;
    border-radius: 5px;
    border: 3px solid #FFFFFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
    main#login form legend {
      font-family: "Fira", "Oleo", serif, sans-serif;
      font-size: 2rem;
      text-align: center;
      color: #FFFFFF;
      border-color: #FFFFFF; }
    main#login form fieldset {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
      border-radius: 5px;
      margin: 1rem 0;
      border-color: #FFFFFF; }
      main#login form fieldset label {
        font-size: 2rem;
        text-align: left;
        color: #FFFFFF; }
      main#login form fieldset input[type=text] {
        margin-left: .5rem; }
      main#login form fieldset button {
        color: #301934;
        background-color: #F3E5AB;
        padding: .5rem;
        border-radius: 5px; }

main#generales {
  top: 0.25rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  background-color: #F28C28; }
  main#generales form {
    margin: .5rem 1.25rem;
    padding: 2rem;
    border-radius: 5px;
    border: 3px solid #FFFFFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
    main#generales form legend {
      font-family: "Fira", "Oleo", serif, sans-serif;
      font-size: 2rem;
      text-align: center;
      color: #FFFFFF;
      border-color: #FFFFFF; }
    main#generales form button {
      color: #301934;
      background-color: #F3E5AB;
      padding: .5rem;
      border-radius: 5px; }
    main#generales form fieldset {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
      border-radius: 5px;
      margin: 1rem 0;
      border-color: #FFFFFF; }
    main#generales form select {
      padding: .3rem;
      border-radius: 4px; }
      main#generales form select option {
        padding: .25rem; }

main#brassage {
  top: 0.25rem;
  background-color: #F28C28; }
  main#brassage .gorria {
    color: #CC0000; }
  main#brassage .berdea {
    color: #00CC00; }
  main#brassage .urdina {
    color: #0022CC; }
  main#brassage .horia {
    color: #ffcc00; }
  main#brassage article#selecteurs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 5px;
    margin: 1rem 0;
    border-color: #FFFFFF; }
    main#brassage article#selecteurs label {
      color: #E2DFD2;
      padding: .25rem; }
    main#brassage article#selecteurs select {
      padding: .25rem; }
    main#brassage article#selecteurs button#brassageEffectue {
      padding: .2rem; }
  main#brassage article#equipes {
    display: flex;
    flex-direction: column; }
  main#brassage div.ligne {
    display: flex;
    align-items: center;
    justify-content: flex-start; }
    main#brassage div.ligne span.souhait {
      display: inline-block;
      font-size: 1.4rem;
      color: #ffffff;
      font-family: serif, sans-serif;
      width: 8rem;
      margin-right: 1rem;
      text-align: center;
      user-select: none; }
    main#brassage div.ligne div.liste {
      display: flex;
      margin: .25rem;
      padding: .15rem;
      align-items: center;
      justify-content: space-between; }
      main#brassage div.ligne div.liste button {
        width: 3rem;
        height: 2rem;
        margin: 0 .25rem 0;
        border: 3px solid transparent;
        border-radius: 4px;
        cursor: pointer;
        transition: all .125s ease-in; }
        main#brassage div.ligne div.liste button.gorria {
          background-color: #CC0000;
          border-color: #cc0000; }
          main#brassage div.ligne div.liste button.gorria:hover {
            background-color: #ff3333;
            border-color: maroon; }
        main#brassage div.ligne div.liste button.berdea {
          background-color: #00CC00;
          border-color: #00cc00; }
          main#brassage div.ligne div.liste button.berdea:hover {
            background-color: #33ff33;
            border-color: green; }
        main#brassage div.ligne div.liste button.urdina {
          background-color: #0022CC;
          border-color: #0022cc; }
          main#brassage div.ligne div.liste button.urdina:hover {
            background-color: #3355ff;
            border-color: #001580; }
        main#brassage div.ligne div.liste button.horia {
          background-color: #ffcc00;
          border-color: #ffcc00; }
          main#brassage div.ligne div.liste button.horia:hover {
            background-color: #ffe066;
            border-color: #b38f00; }
