@font-face {
    font-family: "Oleo";
    src: url("../fontes/OleoScript-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style:normal;
}

@font-face {
    font-family: "Oleo";
    src: url("../fontes/OleoScript-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style:normal;
}

@font-face {
    font-family: "Fira";
    src: url("../fontes/FiraMono-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style:normal;
}

@font-face {
    font-family: "Fira";
    src: url("../fontes/FiraMono-Medium.ttf") format("truetype");
    font-weight: 600;
    font-style:normal;
}

@font-face {
    font-family: "Fira";
    src: url("../fontes/FiraMono-Bold.ttf") format("truetype");
    font-weight: 800;
    font-style:normal;
}



@import 'couleurs.css';

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Fira", sans-serif, serif;
    font-size: 62.5%;
    background-color: #ffffff;
}

body {
    font-size: 1.6rem;
    color: var(--blanc5);
    margin: .5rem;
    background-color: #d7d7d7;
}


ul {
    list-style-type: none;
    display: flex;
    align-item: center;
    justify-content: space-around;
    li {
	margin: 0 .25rem;
    }
}
